.sec_link{
    float: left;
    margin-left: 110px;
    margin-top: 20px;
    
}
.link{
    float: left;
    margin-left: 450px;
    margin-top: 20px;
}
.third_link{
    float: left;
    margin-left: 100px;
    margin-top: 20px;
   
}
.is{font-size: 20px;
    left: 500px
}
.quiz{font-size: 20px;
    top: -23px;
    left: 650px

}
.hypo{
    font-size: 20px;
    top: -47px;
    left: 740px;
}
.area{
    font-size: 20px;
    top: -70px;
    left: 900px;
}
.main{height: 180px;
    background-color:rgb(28, 173, 240) ;
    padding: 16px;
    border-bottom-left-radius: 3rem;
}